@define-color bg0 #14181b;
@define-color bg1 #1e2429;
@define-color bg2 #283036;
@define-color bg3 #323c43;
@define-color bg4 #3c4851;

@define-color fg #d3c6aa;

@define-color red #e67e80;
@define-color orange #e69875;
@define-color yellow #dbbc7f;
@define-color green #a7c080;
@define-color aqua #83c092;
@define-color blue #7fbbb3;
@define-color purple #d699b6;

@define-color grey0 #5c6a72;
@define-color grey1 #859289;
@define-color grey2 #657366;

@define-color surface @bg2;
@define-color surface_container @bg3;
@define-color primary @blue;
@define-color surface_container_highest @bg4;
@define-color secondary @green;
