* {
  bg0:     #392523;
  bg1:     #392523;
  bg2:     #392523;
  bg3:     #685451;
  bg4:     #685451;

  text:    #f3e1de;

  red:     #ffb8af;
  orange:  #ffb8ac;
  yellow:  #ffb8ac;
  green:   #ffb8ac;
  aqua:    #ffb8ac;
  blue:    #ffb8ac;
  purple:  #ffb8ac;

  grey0:   #685451;
  grey1:   #685451;
  grey2:   #685451;
}

