@define-color bg0     #1f1f28;
@define-color bg1     #2a2a37;
@define-color bg2     #223249;
@define-color bg3     #363646;
@define-color bg4     #54546d;

@define-color fg      #dcd7ba;

@define-color red     #e82424;
@define-color orange  #ffa066;
@define-color yellow  #dca561;
@define-color green   #98bb6c;
@define-color aqua    #7aa89f;
@define-color blue    #7e9cd8;
@define-color purple  #957fb8;

@define-color grey0   #54546d;
@define-color grey1   #727169;
@define-color grey2   #c8c093;

@define-color surface @bg2;
@define-color surface_container @bg3;
@define-color primary @blue;
@define-color surface_container_highest @bg4;
@define-color secondary @red;
