* {
  bg0:     #232b32;
  bg1:     #232b32;
  bg2:     #232b32;
  bg3:     #515a60;
  bg4:     #515a60;

  text:    #e1e5e9;

  red:     #ffb8af;
  orange:  #97d2fc;
  yellow:  #97d2fc;
  green:   #97d2fc;
  aqua:    #97d2fc;
  blue:    #97d2fc;
  purple:  #97d2fc;

  grey0:   #515a60;
  grey1:   #515a60;
  grey2:   #515a60;
}

