* {
  bg0:     #312e1c;
  bg1:     #312e1c;
  bg2:     #312e1c;
  bg3:     #5d5a4a;
  bg4:     #5d5a4a;

  text:    #eae5d8;

  red:     #ffb8af;
  orange:  #dcd277;
  yellow:  #dcd277;
  green:   #dcd277;
  aqua:    #dcd277;
  blue:    #dcd277;
  purple:  #dcd277;

  grey0:   #5d5a4a;
  grey1:   #5d5a4a;
  grey2:   #5d5a4a;
}

