* {
  bg0:     #352c19;
  bg1:     #352c19;
  bg2:     #352c19;
  bg3:     #635948;
  bg4:     #635948;

  text:    #efe4d6;

  red:     #ffb8af;
  orange:  #f7c870;
  yellow:  #f7c870;
  green:   #f7c870;
  aqua:    #f7c870;
  blue:    #f7c870;
  purple:  #f7c870;

  grey0:   #635948;
  grey1:   #635948;
  grey2:   #635948;
}

