* {
  bg0:     #282833;
  bg1:     #282833;
  bg2:     #282833;
  bg3:     #575762;
  bg4:     #575762;

  text:    #e6e3eb;

  red:     #ffb8af;
  orange:  #c3c4ff;
  yellow:  #c3c4ff;
  green:   #c3c4ff;
  aqua:    #c3c4ff;
  blue:    #c3c4ff;
  purple:  #c3c4ff;

  grey0:   #575762;
  grey1:   #575762;
  grey2:   #575762;
}

