* {
  bg0:     #3a281d;
  bg1:     #3a281d;
  bg2:     #3a281d;
  bg3:     #67554d;
  bg4:     #67554d;

  text:    #f3e1da;

  red:     #ffb8af;
  orange:  #ffbb93;
  yellow:  #ffbb93;
  green:   #ffbb93;
  aqua:    #ffbb93;
  blue:    #ffbb93;
  purple:  #ffbb93;

  grey0:   #67554d;
  grey1:   #67554d;
  grey2:   #67554d;
}

