@import "./colors/matugen.css";

* {
  border: none;
  border-radius: 0;
  font-family:
    JetBrainsMono Nerd Font Propo,
    Noto,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 0.825rem;
  font-weight: 600;
  min-height: 0;
  border-radius: 15px;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @surface;
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

.modules-left {
  margin-left: 20px;
}
.modules-right {
  margin-right: 20px;
}

#custom-launcher,
#clock,
#workspaces,
#custom-notification,
#custom-media,
#custom-pacman,
#custom-weather,
#language,
#pulseaudio,
#network {
  background-color: @surface_container;
  color: @primary;
  margin-right: 10px;
  padding: 0 10px;
}

#network {
  margin: 0;
}

#workspaces {
  padding: 2px 7px;
}

#workspaces button {
  color: transparent;
  background-color: @surface_container_highest;
  margin: 3px;
  padding: 0 5px;
}
#workspaces button.active {
  padding: 0 20px;
  color: @surface;
  background-color: @secondary;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
