@define-color bg0    #0a0a0a;
@define-color bg1    #141414;
@define-color bg2    #1f1f1f;
@define-color bg3    #2b2b2b;
@define-color bg4    #363636;
@define-color fg     #e6e6e6;
@define-color red    #555555;
@define-color orange #666666;
@define-color yellow #777777;
@define-color green  #888888;
@define-color aqua   #999999;
@define-color blue   #aaaaaa;
@define-color purple #bbbbbb;
@define-color grey0  #555555;
@define-color grey1  #888888;
@define-color grey2  #bcbcbc;

@define-color surface @bg2;
@define-color surface_container @bg3;
@define-color primary @blue;
@define-color surface_container_highest @bg4;
@define-color secondary @red;
