@define-color bg0     #2e3440;
@define-color bg1     #3b4252;
@define-color bg2     #434c5e;
@define-color bg3     #4c566a;
@define-color bg4     #5f6c84;

@define-color fg      #d8dee9;

@define-color red     #bf616a;
@define-color orange  #d08770;
@define-color yellow  #ebcb8b;
@define-color green   #a3be8c;
@define-color aqua    #8fbcbb;
@define-color blue    #5e81ac;
@define-color purple  #b48ead;

@define-color grey0   #616e88;
@define-color grey1   #bfc5cd;
@define-color grey2   #e4e9ef;

