@define-color bg0 #192330;
@define-color bg1 #252f3c;
@define-color bg2 #313b48;
@define-color bg3 #3d4754;
@define-color bg4 #495360;

@define-color fg #c0c8d5;

@define-color red #c94f6d;
@define-color orange #fe9373;
@define-color yellow #dbc074;
@define-color green #8ebaa4;
@define-color aqua #7ad4d6;
@define-color blue #719cd6;
@define-color purple #baa1e2;

@define-color grey0 #495360;
@define-color grey1 #535d6a;
@define-color grey2 #5c6673;

@define-color text            @fg;
@define-color selected        @yellow;
@define-color hover           @orange;
@define-color urgent          @red;
@define-color background-alt  alpha(@bg2, .4);
